// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > div > div { border-right-width: 0px;}

.publications_entry h2 {
  color: $pub-title-color;
  //background: $pub-background-color;
}

.publications_entry ol, ul {
    padding-left: 20px;
}
